.brand-image {
  object-fit: cover;
  width: 120px;
  height: 50px;
  align-self: flex-start;
  border-radius: 10px;
}
.banner-image {
  width: 250px;
  object-fit: cover;
}

@media (max-width: 767px) {
  .brand-image {
    width: 100px;
    height: 30px;
  }
  .banner-image {
    width: 150px;
  }
}
