.form-container {
  width: 470px;
  max-height: 460px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}

@media (max-width: 767px) {
  .form-container {
    width: 96%;
  }
}
